.git/
.vs/
.idea/
.vscode/

EzBudget/.vs/
EzBudget/.idea/
EzBudget/.vscode/
EzBudget/bin/
EzBudget/obj/
EzBudget/x64/
EzBudget/x86/
EzBudget/Debug/
EzBudget/Release/
EzBudget/packages/

MicroServiceA/.vs/
MicroServiceA/.idea/
MicroServiceA/.vscode/
MicroServiceA/bin/
MicroServiceA/obj/
MicroServiceA/x64/
MicroServiceA/x86/
MicroServiceA/Debug/
MicroServiceA/Release/
MicroServiceA/packages/

MicroServiceB/.vs/
MicroServiceB/.idea/
MicroServiceB/.vscode/
MicroServiceB/bin/
MicroServiceB/obj/
MicroServiceB/x64/
MicroServiceB/x86/
MicroServiceB/Debug/
MicroServiceB/Release/
MicroServiceB/packages/

MicroServiceC/.vs/
MicroServiceC/.idea/
MicroServiceC/.vscode/
MicroServiceC/bin/
MicroServiceC/obj/
MicroServiceC/x64/
MicroServiceC/x86/
MicroServiceC/Debug/
MicroServiceC/Release/
MicroServiceC/packages/

MicroServiceD/.vs/
MicroServiceD/.idea/
MicroServiceD/.vscode/
MicroServiceD/bin/
MicroServiceD/obj/
MicroServiceD/x64/
MicroServiceD/x86/
MicroServiceD/Debug/
MicroServiceD/Release/
MicroServiceD/packages/

*.user
*.suo